### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

In [2]:
#File to Load
#schools csv
schools_csv = "Resources/schools_complete.csv"
school_df = pd.read_csv(schools_csv)

In [3]:
#Look at column names
school_df.head()

   School ID            school_name      type  size   budget
0          0      Huang High School  District  2917  1910635
1          1   Figueroa High School  District  2949  1884411
2          2    Shelton High School   Charter  1761  1056600
3          3  Hernandez High School  District  4635  3022020
4          4    Griffin High School   Charter  1468   917500

In [4]:
#students csv
students_csv = "Resources/students_complete.csv"
students_df = pd.read_csv(students_csv)

In [5]:
#Look at column names
students_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84

In [6]:
#make a table with the schools and students dataframes
merge_df = pd.merge(school_df, students_df, on="school_name")
merge_df

,School ID,school_name,type,size,budget,Student ID,student_name,gender,grade,reading_score,math_score
0,0,Huang High School,District,2917,1910635,0,Paul Bradley,M,9th,66,79
1,0,Huang High School,District,2917,1910635,1,Victor Smith,M,12th,94,61
2,0,Huang High School,District,2917,1910635,2,Kevin Rodriguez,M,12th,90,60
3,0,Huang High School,District,2917,1910635,3,Dr. Richard Scott,M,12th,67,58
4,0,Huang High School,District,2917,1910635,4,Bonnie Ray,F,9th,97,84
...,...,...,...,...,...,...,...,...,...,...,...
39165,14,Thomas High School,Charter,1635,1043130,39165,Donna Howard,F,12th,99,90
39166,14,Thomas High School,Charter,1635,1043130,39166,Dawn Bell,F,10th,95,70
39167,14,Thomas High School,Charter,1635,1043130,39167,Rebecca Tanner,F,9th,73,84
39168,14,Thomas High School,Charter,1635,1043130,39168,Desiree Kidd,F,10th,99,90
39169,14,Thomas High School,Charter,1635,1043130,39169,Carolyn Jackson,F,11th,95,75

In [7]:
#change name of school type to avoid errors below
merge_df.rename(columns = {"type": "School Type"})

,School ID,school_name,School Type,size,budget,Student ID,student_name,gender,grade,reading_score,math_score
0,0,Huang High School,District,2917,1910635,0,Paul Bradley,M,9th,66,79
1,0,Huang High School,District,2917,1910635,1,Victor Smith,M,12th,94,61
2,0,Huang High School,District,2917,1910635,2,Kevin Rodriguez,M,12th,90,60
3,0,Huang High School,District,2917,1910635,3,Dr. Richard Scott,M,12th,67,58
4,0,Huang High School,District,2917,1910635,4,Bonnie Ray,F,9th,97,84
...,...,...,...,...,...,...,...,...,...,...,...
39165,14,Thomas High School,Charter,1635,1043130,39165,Donna Howard,F,12th,99,90
39166,14,Thomas High School,Charter,1635,1043130,39166,Dawn Bell,F,10th,95,70
39167,14,Thomas High School,Charter,1635,1043130,39167,Rebecca Tanner,F,9th,73,84
39168,14,Thomas High School,Charter,1635,1043130,39168,Desiree Kidd,F,10th,99,90
39169,14,Thomas High School,Charter,1635,1043130,39169,Carolyn Jackson,F,11th,95,75

In [8]:
#Calculate the number of schools
school_count = len(merge_df["school_name"].unique())
school_count

15

In [9]:
#Calculate the number of students
student_count = merge_df["student_name"].count()
student_count

39170

In [10]:
#Calculate the total budget
district_budget = merge_df["budget"].sum()
district_budget

82932329558

In [11]:
#Calculate the average math score
av_math_score = merge_df["math_score"].mean()
av_math_score

78.98537145774827

In [12]:
#Calculate the average reading score
av_reading_score = merge_df["reading_score"].mean()
av_reading_score

81.87784018381414

In [13]:
#Percentage of students passing math

#find the number of students with a math score 70 or over
math_pass_count = merge_df[(merge_df["math_score"] >= 70)].count()["student_name"]

#number of passing math students/total students
math_pass_percentage = math_pass_count/ (student_count) * 100

math_pass_percentage

74.9808526933878

In [14]:
#Percentage of students passing reading

reading_pass_count = merge_df[(merge_df["reading_score"] >= 70)].count()["student_name"]
reading_pass_percentage = reading_pass_count/ (student_count) * 100

reading_pass_percentage

85.80546336482001

In [15]:
#Percentage overall passing
overall_pass_count = merge_df[(merge_df["reading_score"] >= 70) & (merge_df["math_score"] >= 70)].count()["student_name"]


overall_pass_percentage = overall_pass_count/ (student_count) * 100

overall_pass_percentage

65.17232575950983

In [16]:
# add the new columns to the table and clean up the column names
district_stats = {
    "Total Schools": school_count,
    "Total Students": student_count,
    "Total Budget": district_budget,
    "Average Math Score": av_math_score,
    "Average Reading Score": av_reading_score,
    "% Passing Math": math_pass_percentage,
    "% Passing Reading": reading_pass_percentage,
    "% of Students Passing Overall": overall_pass_percentage
                                }  

district_summary= pd.DataFrame(district_stats, index=[0])
district_summary

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% of Students Passing Overall
0,15,39170,82932329558,78.985371,81.87784,74.980853,85.805463,65.172326

In [17]:
district_summary.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1 entries, 0 to 0
Data columns (total 8 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Total Schools                  1 non-null      int64
 1   Total Students                 1 non-null      int64
 2   Total Budget                   1 non-null      int64
 3   Average Math Score             1 non-null      float64
 4   Average Reading Score          1 non-null      float64
 5   % Passing Math                 1 non-null      float64
 6   % Passing Reading              1 non-null      float64
 7   % of Students Passing Overall  1 non-null      float64
dtypes: float64(5), int64(3)
memory usage: 72.0 bytes

In [18]:
#group district summary by school
grouped_school = merge_df.groupby(["school_name"])
total_students_by_school = grouped_school.size()
total_students_by_school

school_name
Bailey High School       4976
Cabrera High School      1858
Figueroa High School     2949
Ford High School         2739
Griffin High School      1468
Hernandez High School    4635
Holden High School        427
Huang High School        2917
Johnson High School      4761
Pena High School          962
Rodriguez High School    3999
Shelton High School      1761
Thomas High School       1635
Wilson High School       2283
Wright High School       1800
dtype: int64

In [19]:
#get the school type for each school
school_type = grouped_school['type'].first()
school_type

school_name
Bailey High School       District
Cabrera High School       Charter
Figueroa High School     District
Ford High School         District
Griffin High School       Charter
Hernandez High School    District
Holden High School        Charter
Huang High School        District
Johnson High School      District
Pena High School          Charter
Rodriguez High School    District
Shelton High School       Charter
Thomas High School        Charter
Wilson High School        Charter
Wright High School        Charter
Name: type, dtype: object

In [20]:
#get the budget for each school 
school_budget = merge_df.groupby(["school_name"]).mean()["budget"]

school_budget

school_name
Bailey High School       3124928.0
Cabrera High School      1081356.0
Figueroa High School     1884411.0
Ford High School         1763916.0
Griffin High School       917500.0
Hernandez High School    3022020.0
Holden High School        248087.0
Huang High School        1910635.0
Johnson High School      3094650.0
Pena High School          585858.0
Rodriguez High School    2547363.0
Shelton High School      1056600.0
Thomas High School       1043130.0
Wilson High School       1319574.0
Wright High School       1049400.0
Name: budget, dtype: float64

In [21]:
#get the budget per capita
school_budget_per_capita = school_budget / total_students_by_school

school_budget_per_capita

school_name
Bailey High School       628.0
Cabrera High School      582.0
Figueroa High School     639.0
Ford High School         644.0
Griffin High School      625.0
Hernandez High School    652.0
Holden High School       581.0
Huang High School        655.0
Johnson High School      650.0
Pena High School         609.0
Rodriguez High School    637.0
Shelton High School      600.0
Thomas High School       638.0
Wilson High School       578.0
Wright High School       583.0
dtype: float64

In [22]:
#average math score by school
av_math_score_by_school = merge_df.groupby(["school_name"]).mean()["math_score"]
av_math_score_by_school

school_name
Bailey High School       77.048432
Cabrera High School      83.061895
Figueroa High School     76.711767
Ford High School         77.102592
Griffin High School      83.351499
Hernandez High School    77.289752
Holden High School       83.803279
Huang High School        76.629414
Johnson High School      77.072464
Pena High School         83.839917
Rodriguez High School    76.842711
Shelton High School      83.359455
Thomas High School       83.418349
Wilson High School       83.274201
Wright High School       83.682222
Name: math_score, dtype: float64

In [23]:
#average reading score by school
av_reading_score_by_school = merge_df.groupby(["school_name"]).mean()["reading_score"]
av_reading_score_by_school

school_name
Bailey High School       81.033963
Cabrera High School      83.975780
Figueroa High School     81.158020
Ford High School         80.746258
Griffin High School      83.816757
Hernandez High School    80.934412
Holden High School       83.814988
Huang High School        81.182722
Johnson High School      80.966394
Pena High School         84.044699
Rodriguez High School    80.744686
Shelton High School      83.725724
Thomas High School       83.848930
Wilson High School       83.989488
Wright High School       83.955000
Name: reading_score, dtype: float64

In [24]:
#number of students passing math, reading, and passing overall
math_pass_by_school = merge_df[(merge_df["math_score"] >= 70)]
reading_pass_by_school = merge_df[(merge_df["reading_score"] >= 70)]

overall_pass_by_school = merge_df[(merge_df["math_score"] >= 70) & (merge_df["reading_score"] >= 70)]
overall_pass_by_school

,School ID,school_name,type,size,budget,Student ID,student_name,gender,grade,reading_score,math_score
4,0,Huang High School,District,2917,1910635,4,Bonnie Ray,F,9th,97,84
5,0,Huang High School,District,2917,1910635,5,Bryan Miranda,M,9th,94,94
6,0,Huang High School,District,2917,1910635,6,Sheena Carter,F,11th,82,80
8,0,Huang High School,District,2917,1910635,8,Michael Roth,M,10th,95,87
9,0,Huang High School,District,2917,1910635,9,Matthew Greene,M,10th,96,84
...,...,...,...,...,...,...,...,...,...,...,...
39165,14,Thomas High School,Charter,1635,1043130,39165,Donna Howard,F,12th,99,90
39166,14,Thomas High School,Charter,1635,1043130,39166,Dawn Bell,F,10th,95,70
39167,14,Thomas High School,Charter,1635,1043130,39167,Rebecca Tanner,F,9th,73,84
39168,14,Thomas High School,Charter,1635,1043130,39168,Desiree Kidd,F,10th,99,90
39169,14,Thomas High School,Charter,1635,1043130,39169,Carolyn Jackson,F,11th,95,75

In [25]:
#get the math, reading, and overall passing percentages by school
math_pass_percent_by_school =math_pass_by_school.groupby(["school_name"]).count()["student_name"] / total_students_by_school * 100
math_pass_percent_by_school

school_name
Bailey High School       66.680064
Cabrera High School      94.133477
Figueroa High School     65.988471
Ford High School         68.309602
Griffin High School      93.392371
Hernandez High School    66.752967
Holden High School       92.505855
Huang High School        65.683922
Johnson High School      66.057551
Pena High School         94.594595
Rodriguez High School    66.366592
Shelton High School      93.867121
Thomas High School       93.272171
Wilson High School       93.867718
Wright High School       93.333333
dtype: float64

In [26]:
reading_pass_percent_by_school =reading_pass_by_school.groupby(["school_name"]).count()["student_name"] / total_students_by_school * 100
reading_pass_percent_by_school

school_name
Bailey High School       81.933280
Cabrera High School      97.039828
Figueroa High School     80.739234
Ford High School         79.299014
Griffin High School      97.138965
Hernandez High School    80.862999
Holden High School       96.252927
Huang High School        81.316421
Johnson High School      81.222432
Pena High School         95.945946
Rodriguez High School    80.220055
Shelton High School      95.854628
Thomas High School       97.308869
Wilson High School       96.539641
Wright High School       96.611111
dtype: float64

In [27]:
overall_pass_percent_by_school =overall_pass_by_school.groupby(["school_name"]).count()["student_name"] / total_students_by_school * 100
overall_pass_percent_by_school

school_name
Bailey High School       54.642283
Cabrera High School      91.334769
Figueroa High School     53.204476
Ford High School         54.289887
Griffin High School      90.599455
Hernandez High School    53.527508
Holden High School       89.227166
Huang High School        53.513884
Johnson High School      53.539172
Pena High School         90.540541
Rodriguez High School    52.988247
Shelton High School      89.892107
Thomas High School       90.948012
Wilson High School       90.582567
Wright High School       90.333333
dtype: float64

In [31]:
#make the school info dataframe
school_info = { 
    'School Type': school_type,
    "Total Students": total_students_by_school,
    "Total Budget": district_budget,
    "Budget Per Capita": school_budget_per_capita,
    "Average Math Score": av_math_score,
    "Average Reading Score": av_reading_score,
    "% of Students Passing Math": math_pass_percentage,
    "% of Students Passing Reading": reading_pass_percentage,
    "% of Students Passing Overall": [overall_pass_percentage]
}

school_summary = pd.DataFrame(school_info)

displayed_school_summary["Total Budget"] = school_summary["Total Budget"].map("${:,2f}".format)
displayed_school_summary["Budget Per Capita"] = school_summary["Budget Per Capita"].map("${:,2f}".format)

ValueError: array length 1 does not match index length 15

## Top Performing Schools (By % Overall Passing)

* Sort and display the top five performing schools by % overall passing.

In [32]:
#show the top 5% of schools
top_schools = school_info.sort_values(["% of Students Passing Overall"], ascending=False)
top_schools

AttributeError: 'dict' object has no attribute 'sort_values'

## Bottom Performing Schools (By % Overall Passing)

* Sort and display the five worst-performing schools by % overall passing.

In [33]:
#show the bottom 5% of schools
bottom_schools = school_info.sort_values(["% of Students Passing Overall"], ascending=True)
bottom_schools

AttributeError: 'dict' object has no attribute 'sort_values'

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

In [34]:
#separate out the grades
ninth_grade = merge_df[(merge_df["grade"] =="9th")]
tenth_grade = merge_df[(merge_df["grade"] =="10th")]
eleventh_grade = merge_df[(merge_df["grade"] =="11th")]
twelfth_grade = merge_df[(merge_df["grade"] =="12th")]

In [35]:
#group each series by school and get the average math scores
ninth_grade_by_schools = ninth_grade.groupby(["school_name"]).mean()["math_score"]
tenth_grade_by_schools = tenth_grade.groupby(["school_name"]).mean()["math_score"]
eleventh_grade_by_schools = eleventh_grade.groupby(["school_name"]).mean()["math_score"]
twelfth_grade_by_schools = twelfth_grade.groupby(["school_name"]).mean()["math_score"]

In [36]:
scores_by_grade = pd.DataFrame({"9th": ninth_grade_by_schools,
                                "10th": tenth_grade_by_schools,
                                "11th": eleventh_grade_by_schools,
                                "12th": twelfth_grade_by_schools
                
})

scores_by_grade.sort_values("12th")

                             9th       10th       11th       12th
school_name
Ford High School       77.361345  77.672316  76.918058  76.179963
Bailey High School     77.083676  76.996772  77.515588  76.492218
Johnson High School    77.187857  76.691117  77.491653  76.863248
Figueroa High School   76.403037  76.539974  76.884344  77.151369
Hernandez High School  77.438495  77.337408  77.136029  77.186567
Huang High School      77.027251  75.908735  76.446602  77.225641
Rodriguez High School  76.859966  76.612500  76.395626  77.690748
Holden High School     83.787402  83.429825  85.000000  82.855422
Wilson High School     83.085578  83.724422  83.195326  83.035794
Cabrera High School    83.094697  83.154506  82.765560  83.277487
Griffin High School    82.044010  84.229064  83.842105  83.356164
Thomas High School     83.590022  83.087886  83.498795  83.497041
Wright High School     83.264706  84.010288  83.836782  83.644986
Shelton High School    83.420755  82.917411  83.383495  83.778976
Pena High School       83.625455  83.372000  84.328125  84.121547

## Reading Score by Grade

* Perform the same operations as above for reading scores

In [37]:
#group each series by school and get the average reading scores
ninth_grade_by_schools = ninth_grade.groupby(["school_name"]).mean()["reading_score"]
tenth_grade_by_schools = tenth_grade.groupby(["school_name"]).mean()["reading_score"]
eleventh_grade_by_schools = eleventh_grade.groupby(["school_name"]).mean()["reading_score"]
twelfth_grade_by_schools = twelfth_grade.groupby(["school_name"]).mean()["reading_score"]

In [38]:
scores_by_grade = pd.DataFrame({"9th": ninth_grade_by_schools,
                                "10th": tenth_grade_by_schools,
                                "11th": eleventh_grade_by_schools,
                                "12th": twelfth_grade_by_schools
                
})

scores_by_grade.sort_values("12th")

                             9th       10th       11th       12th
school_name
Huang High School      81.290284  81.512386  81.417476  80.305983
Rodriguez High School  80.993127  80.629808  80.864811  80.376426
Ford High School       80.632653  81.262712  80.403642  80.662338
Hernandez High School  80.866860  80.660147  81.396140  80.857143
Bailey High School     81.303155  80.907183  80.945643  80.912451
Johnson High School    81.260714  80.773431  80.616027  81.227564
Figueroa High School   81.198598  81.408912  80.640339  81.384863
Shelton High School    84.122642  83.441964  84.373786  82.781671
Thomas High School     83.728850  84.254157  83.585542  83.831361
Griffin High School    83.369193  83.706897  84.288089  84.013699
Wright High School     83.833333  83.812757  84.156322  84.073171
Cabrera High School    83.676136  84.253219  83.788382  84.287958
Wilson High School     83.939778  84.021452  83.764608  84.317673
Pena High School       83.807273  83.612000  84.335938  84.591160
Holden High School     83.677165  83.324561  83.815534  84.698795

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [39]:
#bins for school spending- based on per capita spending
# less than $600
# $600-$629
# $630-$649
# $650 and over
spending_bins = [0, 599, 630, 649, 700]
group_names = ["<$600", "$600-$629", "$630-$649", ">=$650"]

In [40]:
#apply the bins to the data frame with the school spending, and average scores & reading rates
#do this witha a back up copy
school_spending_df = school_info

In [41]:
#separate the schcool_info df into the bins
school_spending_df["Spending by Student"] = pd.cut(school_budget_per_capita,spending_bins, labels = group_names, right = False)
school_spending_df

{'School Type': school_name
 Bailey High School       District
 Cabrera High School       Charter
 Figueroa High School     District
 Ford High School         District
 Griffin High School       Charter
 Hernandez High School    District
 Holden High School        Charter
 Huang High School        District
 Johnson High School      District
 Pena High School          Charter
 Rodriguez High School    District
 Shelton High School       Charter
 Thomas High School        Charter
 Wilson High School        Charter
 Wright High School        Charter
 Name: type, dtype: object,
 'Total Students': school_name
 Bailey High School       4976
 Cabrera High School      1858
 Figueroa High School     2949
 Ford High School         2739
 Griffin High School      1468
 Hernandez High School    4635
 Holden High School        427
 Huang High School        2917
 Johnson High School      4761
 Pena High School          962
 Rodriguez High School    3999
 Shelton High School      1761
 Thomas High School       1635
 Wilson High School       2283
 Wright High School       1800
 dtype: int64,
 'Total Budget': 82932329558,
 'Budget Per Capita': school_name
 Bailey High School       628.0
 Cabrera High School      582.0
 Figueroa High School     639.0
 Ford High School         644.0
 Griffin High School      625.0
 Hernandez High School    652.0
 Holden High School       581.0
 Huang High School        655.0
 Johnson High School      650.0
 Pena High School         609.0
 Rodriguez High School    637.0
 Shelton High School      600.0
 Thomas High School       638.0
 Wilson High School       578.0
 Wright High School       583.0
 dtype: float64,
 'Average Math Score': 78.98537145774827,
 'Average Reading Score': 81.87784018381414,
 '% of Students Passing Math': 74.9808526933878,
 '% of Students Passing Reading': 85.80546336482001,
 '% of Students Passing Overall': [65.17232575950983],
 'Spending by Student': school_name
 Bailey High School       $600-$629
 Cabrera High School          <$600
 Figueroa High School     $630-$649
 Ford High School         $630-$649
 Griffin High School      $600-$629
 Hernandez High School       >=$650
 Holden High School           <$600
 Huang High School           >=$650
 Johnson High School         >=$650
 Pena High School         $600-$629
 Rodriguez High School    $630-$649
 Shelton High School      $600-$629
 Thomas High School       $630-$649
 Wilson High School           <$600
 Wright High School           <$600
 dtype: category
 Categories (4, object): ['<$600' < '$600-$629' < '$630-$649' < '>=$650']}

## Scores by School Size

* Perform the same operations as above, based on school size.

In [42]:
#bins for school spending- based on number of students
#less than 1,000
# 1,000 to 1,999
# 2,000-2,999
# $3,000 and over
student_bins = [0, 1000, 1999, 2999, 3000]
group_names = ["<1,000", "1,000 to 1,999", "$2,000 to $2,999", ">=$3,000"]

#apply the bins to the data frame with the school spending, and average scores & reading rates
#do this witha a back up copy
school_size_df = school_info

#separate the schcool_info df into the bins
school_size_df["Spending by Student"] = pd.cut(total_students_by_school,spending_bins, labels = group_names, right = False)
school_size_df

{'School Type': school_name
 Bailey High School       District
 Cabrera High School       Charter
 Figueroa High School     District
 Ford High School         District
 Griffin High School       Charter
 Hernandez High School    District
 Holden High School        Charter
 Huang High School        District
 Johnson High School      District
 Pena High School          Charter
 Rodriguez High School    District
 Shelton High School       Charter
 Thomas High School        Charter
 Wilson High School        Charter
 Wright High School        Charter
 Name: type, dtype: object,
 'Total Students': school_name
 Bailey High School       4976
 Cabrera High School      1858
 Figueroa High School     2949
 Ford High School         2739
 Griffin High School      1468
 Hernandez High School    4635
 Holden High School        427
 Huang High School        2917
 Johnson High School      4761
 Pena High School          962
 Rodriguez High School    3999
 Shelton High School      1761
 Thomas High School       1635
 Wilson High School       2283
 Wright High School       1800
 dtype: int64,
 'Total Budget': 82932329558,
 'Budget Per Capita': school_name
 Bailey High School       628.0
 Cabrera High School      582.0
 Figueroa High School     639.0
 Ford High School         644.0
 Griffin High School      625.0
 Hernandez High School    652.0
 Holden High School       581.0
 Huang High School        655.0
 Johnson High School      650.0
 Pena High School         609.0
 Rodriguez High School    637.0
 Shelton High School      600.0
 Thomas High School       638.0
 Wilson High School       578.0
 Wright High School       583.0
 dtype: float64,
 'Average Math Score': 78.98537145774827,
 'Average Reading Score': 81.87784018381414,
 '% of Students Passing Math': 74.9808526933878,
 '% of Students Passing Reading': 85.80546336482001,
 '% of Students Passing Overall': [65.17232575950983],
 'Spending by Student': school_name
 Bailey High School          NaN
 Cabrera High School         NaN
 Figueroa High School        NaN
 Ford High School            NaN
 Griffin High School         NaN
 Hernandez High School       NaN
 Holden High School       <1,000
 Huang High School           NaN
 Johnson High School         NaN
 Pena High School            NaN
 Rodriguez High School       NaN
 Shelton High School         NaN
 Thomas High School          NaN
 Wilson High School          NaN
 Wright High School          NaN
 dtype: category
 Categories (4, object): ['<1,000' < '1,000 to 1,999' < '$2,000 to $2,999' < '>=$3,000']}

## Scores by School Type

* Perform the same operations as above, based on school type

In [43]:
#try group by
type_math_score = school_info.groupby(["School Type"]).mean()["Average Math Score"]
type_reading_score = school_info.groupby(["School Type"]).mean()["Average Reading Score"]
type_pc_math = school_info.groupby(["School Type"]).mean()["% of Students Passing Math"]
type_pc_reading = school_info.groupby(["School Type"]).mean()["% of Students Passing Reading"]
type_pc_overall = school_info.groupby(["School Type"]).mean()["% of Students Passing Overall"]

AttributeError: 'dict' object has no attribute 'groupby'

In [44]:
#Make a dataframe from the type info
type_summary = pd.DataFrame({"Average Math Score": type_math_score,
                              "Average Reading Score": type_reading_score,
                              "% Passing Math": type_pc_math,
                              "% Passing Reading": type_pc_reading,
                              "% Passing Overall": type_pc_overall})

type_summary

NameError: name 'type_math_score' is not defined